<section class="bonus my-5 md:my-20">
    <div class="container">
        <h2 class="bonus-title font-medium text-md md:text-2xl mb-5 md:mb-10">
            <b>Как принять участие</b> в промоушене
        </h2>
        <div class="bonus__inner ">
            <div class="bonus__item pt-6 pb-2.5 px-2.5 md:py-8 md:px-5 rounded-2xl drop-shadow-sm">
                <h3 class="bonus__item-title flex items-start md:text-md mb-3  md:mb-5 font-semibold">
                    <i>
                        <svg class="mr-2" width="32" height="32" viewBox="0 0 32 32" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M17.7804 2.74764C18.3098 2.93661 18.6632 3.43801 18.6632 4.00011V12.0036H26.6667C27.1805 12.0036 27.6484 12.2996 27.8684 12.7639C28.0885 13.2283 28.0213 13.7779 27.6959 14.1756L15.6959 28.8422C15.34 29.2773 14.749 29.4415 14.2196 29.2526C13.6902 29.0636 13.3368 28.5622 13.3368 28.0001V19.9966H5.33333C4.81949 19.9966 4.35162 19.7006 4.13157 19.2363C3.91152 18.7719 3.97868 18.2223 4.30407 17.8246L16.3041 3.15798C16.66 2.72294 17.251 2.55867 17.7804 2.74764ZM8.13968 17.3369H14.6667C15.4011 17.3369 15.9965 17.9323 15.9965 18.6668V24.2746L23.8603 14.6633H17.3333C16.5989 14.6633 16.0035 14.0679 16.0035 13.3334V7.72562L8.13968 17.3369Z"
                                fill="#63CE50" />
                        </svg>
                    </i>
                    Достигни статусов «Эксперт», «Профессионал», «Президент» и получай партнёрскую зарплату в
                    дополнение к реферальному вознаграждению.
                </h3>

                <div class="bonus__item-text md:pl-24 text-sm md:text-base font-normal">
                    <p class="p-2.5 md:p-5 rounded-2xl ">Чем больше платежей за инвестиционные пакеты совершат в
                        течение календарного месяца инвесторы, которых ты пригласил в проект, тем выше будет твой
                        доход. Зарплату будем начислять на партнёрский счёт первого числа следующего месяца при
                        выполнении плана продаж.
                        <a href="" class="link font-normal pt-2 md-pt-3 block">
                            <span>Посмотреть пример</span>
                        </a>
                    </p>

                </div>
            </div>

        </div>
    </div>
</section>