<section class="examples my-5 md:my-20">
    <div class="container">
        <h2 class="examples-title font-medium text-md md:text-2xl mb-5 md:mb-10">
            <b>Что вы увидите</b> на конференции
        </h2>
        <div class="examples-slider swiper px-5">
            <div class="swiper-wrapper examples__slider-wrapper">

                <div class="swiper-slide examples__slide rounded-lg shadow-lg p-7">
                    <h4 class="md:text-md font-semibold md:font-bold mb1 md:mb-4">
                        При достижении статуса «Эксперт»
                    </h4>
                    <p class="text-sm font-normal">
                        Ты достиг статуса «Эксперт». И начал участвовать в промоушене «Партнёрская зарплата» 2
                        февраля. До 28 февраля включительно инвесторы первого уровня твоей структуры внесли платежи
                        на сумму 15 000$. Значит, 1 марта на партнёрский счёт тебе будет начислено 1 000$.
                    </p>
                </div>

                <div class="swiper-slide examples__slide rounded-lg shadow-lg p-7">
                    <h4 class="md:text-md font-semibold md:font-bold mb1 md:mb-4">
                        При достижении статуса «Профессионал»
                    </h4>
                    <p class="text-sm font-normal">
                        Ты достиг статуса «Профессионал». И начал участвовать в промоушене «Партнёрская зарплата» 15
                        февраля. До 28 февраля включительно инвесторы первого уровня твоей структуры внесли платежи
                        на сумму 20 000$. Значит, 1 марта на партнёрский счёт тебе будет начислено 2 000$.
                    </p>
                </div>

                <div class="swiper-slide examples__slide rounded-lg shadow-lg p-7">
                    <h4 class="md:text-md font-semibold md:font-bold mb1 md:mb-4">
                        При достижении статуса «Президент»
                    </h4>
                    <p class="text-sm font-normal">
                        Ты достиг статуса «Президент». И начал участвовать в промоушене «Партнёрская зарплата» 5
                        февраля. До 28 февраля включительно инвесторы первого уровня твоей структуры внесли платежи
                        на сумму 40 000$. Значит, 1 марта на партнёрский счёт тебе будет начислено 3 500$.
                    </p>
                </div>


            </div>

            <div class="examples-slider-nav flex justify-center items-center mt-5 md:mt-6">
                <div class="prev-slide">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 19L8 12L15 5" stroke="#A0B6D1" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>

                </div>
                <div class="slider-pagination w-max flex items-center"></div>
                <div class="next-slide">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 5L16 12L9 19" stroke="#A0B6D1" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>

    </div>
</section>