<section class="process my-8 md:my-20">
    <div class="container">
        <div class="process__inner">
            <h2 class="process__title text-md md:text-2xl mb-5 md:mb-8 font-bold">Твой прогресс</h2>
            <p class="process__text text-sm mb-10 md:mb-12 md:text-base">
                Здесь ты можешь следить за своим текущим прогрессом, видеть своё место в общем рейтинге и ожидаемое
                вознаграждение за текущий месяц.
            </p>
            <div class="process__line-wrapper mb-5">
                <div class="process__line rounded-3xl py-1.5 px-2 h-12 cursor-pointer">
                    <div class="process__line-inner rounded-2xl h-full w-3/4 tooltip">
                        <div class="content w-20 py-3 px-4 rounded-lg text-center -right-16 bottom-12 absolute">
                            7 000$
                        </div>
                    </div>
                </div>
                <div class="process__subtitles flex justify-between mt-1 md:mt-3">
                    <span class="text-sm md:text-base">0$</span>
                    <span class="text-sm md:text-base">20 000$</span>
                </div>
            </div>

            <div class="process__cards  mt-10 gap-3 mb-8 md:mb-3 grid grid-cols-1 md:grid-cols-3">
                <div class="process__card bg-blue rounded-2xl p-3">
                    <div
                        class="process__card-inner h-full px-5 pt-5 pb-3 border border-dashed border-dark_gray rounded-xl flex flex-col justify-center">
                        <div class="process__card-text text-sm mb-2">Место в рейтинге</div>
                        <div class="pricess__card-number font-bold text-3xl">1</div>
                    </div>
                </div>

                <div class="process__card bg-blue rounded-2xl p-3">
                    <div
                        class="process__card-inner h-full px-5 pt-5 pb-3 border border-dashed border-dark_gray rounded-xl flex flex-col justify-center">
                        <div class="process__card-text text-sm mb-2">Сумма продаж</div>
                        <div class="pricess__card-number font-bold text-3xl">20 000$</div>
                    </div>
                </div>

                <div class="process__card bg-blue rounded-2xl p-3">
                    <div
                        class="process__card-inner h-full px-5 pt-5 pb-3 border border-dashed border-dark_gray rounded-xl flex flex-col justify-center">
                        <div class="process__card-text text-sm mb-2">Ожидаемое вознаграждение</div>
                        <div class="pricess__card-number font-bold text-3xl">2 000$</div>
                    </div>
                </div>
            </div>

            <a href="" class="link no-underline whitespace-normal inline">Перейти на страницу промоушена в личном
                кабинете</a>
        </div>
    </div>
</section>
