<section class="text py-5 md:mt-5">
    <div class="container">
        <div class="text__inner font-normal md:text-xl ">
            <b class="font-semibold">Это промоушен для партнёров SOLARGROUP в статусах «Эксперт», «Профессионал»,
                «Президент».</b> Он поможет тебе увеличить ежемесячный доход и получать дополнительную выплату к
            реферальному вознаграждению.
            <a href="" class="link pt-2 font-bold text-sm"><span>Посмотреть условия промо</span></a>
        </div>
    </div>
</section>
