<section class="users my-5 md:my-20">
    <div class="container">
        <div class="users__inner">
            <h2 class="text-md md:text-2xl mb-5 md:mb-8 font-bold">Список участников</h2>
            <table class="table-fixed w-full">
                <thead>
                    <tr class="hidden md:table-row">
                        <th class="py-2 text-left text-dark_gray text-sm font-normal md:text-base">Место</th>
                        <th class="py-2 text-left text-dark_gray text-sm font-normal md:text-base">Имя</th>
                        <th
                            class="py-2 text-left text-dark_gray text-sm font-normal hidden md:table-cell md:text-base">
                            Статус</th>
                        <th class="py-2  text-dark_gray text-sm font-normal md:text-base text-right">Страна</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-top w-1/4 md:w-auto">
                            <span class="text-sm font-normal md:text-base">1</span>

                            <div class="md:block text-green text-xs font-bold">Это вы</div>
                        </td>
                        <td class="align-top">
                            <span class="text-sm font-normal whitespace-normal md:text-base">Константин К</span>

                            <div>
                                <div class="hidden md:block text-green text-xs font-bold">Это вы</div>
                                <div class="md:hidden text-xs text-green font-bold">Профессионал</div>
                            </div>
                        </td>
                        <td class="hidden md:table-cell text-sm font-normal align-top md:text-base">Профессионал
                        </td>
                        <td class="align-top">
                            <div class="flex items-center gap-1 md:gap-3 justify-end">
                                <span class="text-sm font-normal md:text-base">Россия </span>
                                <i>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_127_4557)">
                                            <path
                                                d="M4.54545 2H15.4545C16.6601 2 17.8162 2.46825 18.6687 3.30175C19.5211 4.13524 20 5.2657 20 6.44444V7.33333H0V6.44444C0 5.2657 0.478895 4.13524 1.33133 3.30175C2.18377 2.46825 3.33993 2 4.54545 2V2Z"
                                                fill="#F7F7F7" />
                                            <path
                                                d="M15.4545 18L4.54545 18C3.33992 18 2.18377 17.5317 1.33133 16.6983C0.478893 15.8648 0 14.7343 0 13.5556V12.6667L20 12.6667V13.5556C20 14.7343 19.5211 15.8648 18.6687 16.6983C17.8162 17.5317 16.6601 18 15.4545 18V18Z"
                                                fill="#CE2A1D" />
                                            <path d="M20 7.33334H0V12.6667H20V7.33334Z" fill="#0037A1" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_127_4557">
                                                <rect width="20" height="16" fill="white"
                                                    transform="translate(0 2)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </i>
                            </div>

                        </td>
                    </tr>


                    <tr>
                        <td class="align-top w-1/4 md:w-auto py-2 md:py-4">
                            <span class="text-sm font-normal md:text-base">1</span>

                        </td>
                        <td class="align-top py-2 md:py-4">
                            <span class="text-sm font-normal whitespace-normal md:text-base">Иван П</span>

                            <div>
                                <div class="md:hidden text-xs text-dark_gray font-bold">Эксперт</div>
                            </div>
                        </td>
                        <td class="py-2 md:py-4 hidden md:table-cell text-sm font-normal align-top md:text-base">
                            Эксперт</td>
                        <td class="py-2 md:py-4 align-top">
                            <div class="flex items-center gap-1 md:gap-3 justify-end">
                                <span class="text-sm font-normal md:text-base">Казахстан</span>
                                <i>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_127_4557)">
                                            <path
                                                d="M4.54545 2H15.4545C16.6601 2 17.8162 2.46825 18.6687 3.30175C19.5211 4.13524 20 5.2657 20 6.44444V7.33333H0V6.44444C0 5.2657 0.478895 4.13524 1.33133 3.30175C2.18377 2.46825 3.33993 2 4.54545 2V2Z"
                                                fill="#F7F7F7" />
                                            <path
                                                d="M15.4545 18L4.54545 18C3.33992 18 2.18377 17.5317 1.33133 16.6983C0.478893 15.8648 0 14.7343 0 13.5556V12.6667L20 12.6667V13.5556C20 14.7343 19.5211 15.8648 18.6687 16.6983C17.8162 17.5317 16.6601 18 15.4545 18V18Z"
                                                fill="#CE2A1D" />
                                            <path d="M20 7.33334H0V12.6667H20V7.33334Z" fill="#0037A1" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_127_4557">
                                                <rect width="20" height="16" fill="white"
                                                    transform="translate(0 2)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </i>
                            </div>

                        </td>
                    </tr>





                    <tr>
                        <td class="align-top w-1/4 md:w-auto py-2 md:py-4">
                            <span class="text-sm font-normal md:text-base">2</span>

                        </td>
                        <td class="align-top py-2 md:py-4">
                            <span class="text-sm font-normal whitespace-normal md:text-base">Константин К</span>

                            <div>
                                <div class="md:hidden text-xs text-dark_gray font-bold">Эксперт</div>
                            </div>
                        </td>
                        <td class="py-2 md:py-4 hidden md:table-cell text-sm font-normal align-top md:text-base">
                            Эксперт</td>
                        <td class="py-2 md:py-4 align-top">
                            <div class="flex items-center gap-1 md:gap-3 justify-end">
                                <span class="text-sm font-normal md:text-base">Россия</span>
                                <i>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_127_4557)">
                                            <path
                                                d="M4.54545 2H15.4545C16.6601 2 17.8162 2.46825 18.6687 3.30175C19.5211 4.13524 20 5.2657 20 6.44444V7.33333H0V6.44444C0 5.2657 0.478895 4.13524 1.33133 3.30175C2.18377 2.46825 3.33993 2 4.54545 2V2Z"
                                                fill="#F7F7F7" />
                                            <path
                                                d="M15.4545 18L4.54545 18C3.33992 18 2.18377 17.5317 1.33133 16.6983C0.478893 15.8648 0 14.7343 0 13.5556V12.6667L20 12.6667V13.5556C20 14.7343 19.5211 15.8648 18.6687 16.6983C17.8162 17.5317 16.6601 18 15.4545 18V18Z"
                                                fill="#CE2A1D" />
                                            <path d="M20 7.33334H0V12.6667H20V7.33334Z" fill="#0037A1" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_127_4557">
                                                <rect width="20" height="16" fill="white"
                                                    transform="translate(0 2)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </i>
                            </div>

                        </td>
                    </tr>



                    <tr>
                        <td class="align-top w-1/4 md:w-auto py-2 md:py-4">
                            <span class="text-sm font-normal md:text-base">3</span>

                        </td>
                        <td class="align-top py-2 md:py-4">
                            <span class="text-sm font-normal whitespace-normal md:text-base">Иван П</span>

                            <div>
                                <div class="md:hidden text-xs text-dark_gray font-bold">Профессионал</div>
                            </div>
                        </td>
                        <td class="py-2 md:py-4 hidden md:table-cell text-sm font-normal align-top md:text-base">
                            Профессионал</td>
                        <td class="py-2 md:py-4 align-top">
                            <div class="flex items-center gap-1 md:gap-3 justify-end">
                                <span class="text-sm font-normal md:text-base">Россия</span>
                                <i>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_127_4557)">
                                            <path
                                                d="M4.54545 2H15.4545C16.6601 2 17.8162 2.46825 18.6687 3.30175C19.5211 4.13524 20 5.2657 20 6.44444V7.33333H0V6.44444C0 5.2657 0.478895 4.13524 1.33133 3.30175C2.18377 2.46825 3.33993 2 4.54545 2V2Z"
                                                fill="#F7F7F7" />
                                            <path
                                                d="M15.4545 18L4.54545 18C3.33992 18 2.18377 17.5317 1.33133 16.6983C0.478893 15.8648 0 14.7343 0 13.5556V12.6667L20 12.6667V13.5556C20 14.7343 19.5211 15.8648 18.6687 16.6983C17.8162 17.5317 16.6601 18 15.4545 18V18Z"
                                                fill="#CE2A1D" />
                                            <path d="M20 7.33334H0V12.6667H20V7.33334Z" fill="#0037A1" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_127_4557">
                                                <rect width="20" height="16" fill="white"
                                                    transform="translate(0 2)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </i>
                            </div>

                        </td>
                    </tr>



                    <tr>
                        <td class="align-top w-1/4 md:w-auto py-2 md:py-4">
                            <span class="text-sm font-normal md:text-base">4</span>

                        </td>
                        <td class="align-top py-2 md:py-4">
                            <span class="text-sm font-normal whitespace-normal md:text-base">Константин К</span>

                            <div>
                                <div class="md:hidden text-xs text-dark_gray font-bold">Президент</div>
                            </div>
                        </td>
                        <td class="py-2 md:py-4 hidden md:table-cell text-sm font-normal align-top md:text-base">
                            Президент</td>
                        <td class="py-2 md:py-4 align-top">
                            <div class="flex items-center gap-1 md:gap-3 justify-end">
                                <span class="text-sm font-normal md:text-base">Россия</span>
                                <i>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_127_4557)">
                                            <path
                                                d="M4.54545 2H15.4545C16.6601 2 17.8162 2.46825 18.6687 3.30175C19.5211 4.13524 20 5.2657 20 6.44444V7.33333H0V6.44444C0 5.2657 0.478895 4.13524 1.33133 3.30175C2.18377 2.46825 3.33993 2 4.54545 2V2Z"
                                                fill="#F7F7F7" />
                                            <path
                                                d="M15.4545 18L4.54545 18C3.33992 18 2.18377 17.5317 1.33133 16.6983C0.478893 15.8648 0 14.7343 0 13.5556V12.6667L20 12.6667V13.5556C20 14.7343 19.5211 15.8648 18.6687 16.6983C17.8162 17.5317 16.6601 18 15.4545 18V18Z"
                                                fill="#CE2A1D" />
                                            <path d="M20 7.33334H0V12.6667H20V7.33334Z" fill="#0037A1" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_127_4557">
                                                <rect width="20" height="16" fill="white"
                                                    transform="translate(0 2)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </i>
                            </div>

                        </td>
                    </tr>



                    <tr>
                        <td class="align-top w-1/4 md:w-auto py-2 md:py-4">
                            <span class="text-sm font-normal md:text-base">4</span>

                        </td>
                        <td class="align-top py-2 md:py-4">
                            <span class="text-sm font-normal whitespace-normal md:text-base">Иван П</span>

                            <div>
                                <div class="md:hidden text-xs text-dark_gray font-bold">Эксперт</div>
                            </div>
                        </td>
                        <td class="py-2 md:py-4 hidden md:table-cell text-sm font-normal align-top md:text-base">
                            Эксперт</td>
                        <td class="py-2 md:py-4 align-top">
                            <div class="flex items-center gap-1 md:gap-3 justify-end">
                                <span class="text-sm font-normal md:text-base">Казахстан</span>
                                <i>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_127_4557)">
                                            <path
                                                d="M4.54545 2H15.4545C16.6601 2 17.8162 2.46825 18.6687 3.30175C19.5211 4.13524 20 5.2657 20 6.44444V7.33333H0V6.44444C0 5.2657 0.478895 4.13524 1.33133 3.30175C2.18377 2.46825 3.33993 2 4.54545 2V2Z"
                                                fill="#F7F7F7" />
                                            <path
                                                d="M15.4545 18L4.54545 18C3.33992 18 2.18377 17.5317 1.33133 16.6983C0.478893 15.8648 0 14.7343 0 13.5556V12.6667L20 12.6667V13.5556C20 14.7343 19.5211 15.8648 18.6687 16.6983C17.8162 17.5317 16.6601 18 15.4545 18V18Z"
                                                fill="#CE2A1D" />
                                            <path d="M20 7.33334H0V12.6667H20V7.33334Z" fill="#0037A1" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_127_4557">
                                                <rect width="20" height="16" fill="white"
                                                    transform="translate(0 2)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </i>
                            </div>

                        </td>
                    </tr>




                </tbody>
            </table>

            <a href="" class="link no-underline mt-5 md:mt-8 font-semibold">Показать всех (3005)</a>
        </div>
    </div>
</section>